body{
  height: 100vh;
}

.mainHeader {
  width: 100%;
  border: 2px solid red;
}
.mainHeader > * {
  margin: 0 auto;
  display: inline-block;
  width: 32.8%;
  border: 2px solid red;
  text-align: center;
}
.weatherContainer{
  width: 100%;
  display: flex;
  height: 100px;
  border: 1px solid black;
}
.searchBar {
  width: 100%;
  border: 2px solid green;
  text-align: center;
}
.mainContainer {
  display: flex;
  width: 100%;
  height: 70%;
}
.mapContainer {
  width: 60%;
}
.eventsContainer, .businessContainer {
  width: 20%;
  height: 100%;
  text-align: center;
  overflow: scroll;
}
.businessContainer {
  height: 500px;
  overflow: auto;
}
.mapDisplay {
  text-align: center;
  height: 500px;
  border: 2px solid blue;
}

.business {
  border: 2px solid red;
  text-align: center;
}
.business > * {
  margin: 0 auto;
  border: 2px solid pink;
}
